* {
    font-family: 'Merriweather Sans', sans-serif;
}

body {
    background: #22212C;
}

#container {
    display: flex;
}

#blocosLaterais {
    width: 348px;
    margin: 40px 0 0 40px;
}

.menuLateral {
    background: #302F3D;
    border-radius: 20px;
}

.titulosGeral {
    width: 121px;
    height: 26px;
    margin: 30px 0 0 20px;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 20;
    font-weight: 700;
    color: #837E9F;
    /*border: white 1px solid;*/
}

/* ========= PROFILE ========= */

#profile {
    width: 348px;
    height: 292px;
    display: grid;
}

#conteudoProfile {
    margin-top: 30px;
}

div #circle {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 30px;
    /*border: #00FF00 1px solid;*/
}

#fotoPerfil {
    width: 128px;
    height: 128px;
}

#nome {
    width: 196px;
    height: 26px;
    text-align: center;
    margin: auto;
    font-size: 23;
    font-weight: 700;
    font-family: 'Merriweather Sans', sans-serif;
    color: #837E9F;
    /*border: white 1px solid;*/
}

#profissao {
    text-align: center;
    margin-top: 10px;
    font-size: 13;
    font-weight: 400;
    font-family: 'Merriweather Sans', sans-serif;
    color: #837E9F;
}

/* ========= FIM PROFILE ========= */

/* ========= LINKS ========= */

#links {
    width: 348px;
    height: 348px;
    margin-top: 30px;
    display: grid;
}

#menuLinks {
    display: flex;
}

#icons {
    width: 24px;
    height: 288px;
    margin: 30px 0 0 40px;
    display: grid;
    grid-auto-rows: 44.5px;
    /*border: white 1px solid;*/
}

#linksRedesSociais a {
    color: #837E9F;
    text-decoration: none;
    display: grid;
    grid-auto-rows: 15px;
    margin: 30px 0 0 20px;
}

#linksRedesSociais a:hover {
    color: #b1aec7;
}

/* ========= FIM LINKS ========= */

/* ========= TECHNOLOGIES ========= */

#technologies {
    width: 348px;
    height: 208px;
    display: grid;
    margin-top: 30px;
}

#quadroTechs {
    width: 288px;
    height: 102px;
    margin-left: 30px;
    display: flex;
    /*border: white 1px solid;*/
}

.techs {
    width: 86px;
    height: 24px;
    background-color: #CB92B1;
    border: #CB92B1 1px solid;
    border-radius: 30px;
    text-align: center;
    font-size: 10;
    color: black;
    font-weight: 700;
}

.miniQdTec {
    margin-left: 15px;
    display: grid;
    grid-auto-rows: 35px;
    /*border: white 1px solid;*/
}

#miniQuadro {
    margin-left: 0;
}

/* ========= FIM TECHNOLOGIES ========= */

/* ========= EXPERIENCIES ========= */

#experiencies {
    width: 348px;
    height: 370px;
    margin-top: 30px;
    display: grid;
}

#tituloExp {
    width: 141px;
    height: 26px;
    /*border: white 1px solid;*/
}

#conteudoExp {
    width: 300px;
    height: 300px;
    margin-left: 40px;
    /*border: white 1px solid;*/
}

li {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 14;
    font-weight: 700;
    color: #837E9F;
}

.textExp {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 12;
    font-weight: 400;
    color: #837E9F;
}

/* ========= FIM EXPERIENCIES ========= */

#education {
    width: 348px;
    height: 352px;
    margin: 30px 0 0 0;
}

#conteudo {
    width: 952px;
    height: 650px;
    margin: 40px 40px;
}

#titulo {
    width: 952px;
    height: 86px;
    border-radius: 20px;
    margin-bottom: 31px;
}

#duasCaixas {
    display: flex;
}

#caixa1 {
    width: 481px;
    height: 186px;
    border-radius: 20px;
    margin-right: 30px;
}

#caixa2 {
    width: 481px;
    height: 186px;
    border-radius: 20px;
}

#recentePosts {
    width: 952px;
    height: 86px;
    border-radius: 20px;
    margin-top: 30px;
}

#post {
    width: 952px;
    height: 201px;
    border-radius: 20px;
    margin-top: 30px;
}

footer p {
    color: #837E9F;
    margin-top: 30px;
    text-align: center;
}